.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #352a2a;
  padding: 10px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header div {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header div:last-child {
  margin-right: 0;
}
