.header {
  width: 800px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #443939;
  padding: 10px;
  margin: auto;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header div {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.header div:last-child {
  margin-right: 0;
}

.curUser {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 5px;
  }

  .exitButton {
  cursor: pointer;
}
}


