.todo_app_wrapper {
  border: 1px solid black;
  height: 800px;
  position: relative;

  .todos {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
