.todo_app_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .todo_app {
    width: 400px;
    background: linear-gradient(180deg, #202020 0%, #809a9f 100%);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 8px 6px 10px #515151;

    h1 {
      margin-bottom: 20px;
      text-align: center;
      color: #ff1616eb;
    }

    .input_section {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      input {
        padding: 5px;
        margin-bottom: 8px;
        border-radius: 3px;
        border: none;

        &:focus {
          outline: thick double #5982d0;
        }
      }
    }

    button {
      padding: 5px 10px;
      margin-right: 10px;
    }

    .todo_list {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &.completed {
          text-decoration: line-through;
        }

        button {
          padding: 5px 10px;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .filter_buttons {
        button {
          margin-right: 5px;
          padding: 2px 5px;
          background-color: #9db1d7;
          border: none;
          border-radius: 3px;

          &:hover {
            background-color: #7887a3;
            cursor: pointer;
          }

          &.active {
            background-color: #2b2d31;
            color: white;
          }
        }
      }
    }
  }
}
