.todo_app_wrapper {
  border: 1px solid black;
  height: 800px;
  position: relative;

  .todo_app {
    width: 400px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    .input_section {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      input {
        padding: 5px;
        margin: 5px;
      }
    }

    button {
      padding: 5px 10px;
      margin-right: 10px;
    }

    .todo_list {
      list-style-type: none;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        &.completed {
          text-decoration: line-through;
        }

        button {
          padding: 5px 10px;
          margin-left: 10px;
        }
      }
    }

    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .filter_buttons {
        button {
          margin-right: 5px;
        }
      }
    }
  }
}
