footer {
  width: 800px;
  background-color: #352a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
